html {
    scroll-behavior: smooth;
}

.informacion-contacto{
    transition: 1s ease all;
}
.pokebola{
    height: 20px;
    margin-right: 5px;
}
.div-pokemon{
    display: flex;
    justify-content: center;
}
.div-pokemon img {
    max-width: 300px;
    max-height: 225px;
}

.estrellas {
    font-size: 12px;
}

